* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
    background-image: url(../img/cork.png);
}

.container {
    display: flex;
}
header {
    text-align: center;
    font-size: 3rem;
    padding: 0.8rem;
    background: url(../img/wall.png);
}

.card{
   position: absolute;
   margin-top: 30px;
   padding: 10px;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
   text-align: center;
   max-width: 500px;
   background-image: url(../img/pin.svg);
   background-repeat: no-repeat;
   background-position: top center;
   background-size: 40px;  
}

.card img {
    width: 100%;
    height: 100%;
    padding: 0.6rem;
}

img {
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 600px;
    height: 600px;
}