* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
    background-image: url(../img/cork.png);
}

.container {
    display: flex;
}
header {
    text-align: center;
    font-size: 3rem;
    padding: 0.8rem;
    background: url(../img/wall.png);
    font-family: "Edu TAS Beginner", cursive;
    font-weight: 600;
}

.card{
   position: absolute;
   margin-top: 30px;
   padding: 10px;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
   text-align: center;
   max-width: 500px;
.pin{
    position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -35%);
        height: 50px;
}


}                         


.card img {
    width: 100%;
    height: 100%;
    padding: 0.6rem;
}

img {
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 600px;
    height: 600px;
}

.date{
    font-family: "Sometype Mono", monospace;
    color: rgba(0, 0, 0, 0.5);
    text-align: left;
    
}


h1{
    font-family: "Edu TAS Beginner", cursive;
    font-weight: 600;
    text-transform: uppercase;
    text-align:left;
   
    
}